@model ReCountant.Models.D_Block

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>D_Block</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Phase_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phase_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Block)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Block)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Block_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Block_Code)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
